@font-face {
      font-family: "Satoshi";
      src: url('../fonts/Satoshi-Variable.ttf') format('truetype');
    }
:root{
	--f7-theme-color:#242230;
	--f7-navbar-bg-color: #242230; /*navbar*/
	--f7-navbar-text-color:#fff;
	--f7-navbar-link-color: #fff;
	--f7-bars-bg-color:#FFFAF4;/*toolbar*/
	--f7-tabbar-link-inactive-color: #333; /*link toolbar*/
	--f7-block-margin-vertical:20px;
	--f7-card-footer-border-color:transparent; 
  	--f7-card-border-radius: 20px;
	--f7-card-bg-color: #242230;
	--f7-tabbar-label-text-transform: none;
	--color-morado-main:#242230;
	--color-beige:#FFFAF4;
	--color-morado:#5252D4;
	--color-acento: #BE102A; 
	
}
body{
	font-family: "Satoshi", sans-serif;
	font-size: 14px;
	color: #1E1E1E;
	background-color: var(--color-beige);
}

#splash{
	background-color: #242230;
	color: #F4F4F4;
	
} 
#splash h1{
	text-align: center;
}
.boton-vamos{
	background-color: #F15C73;
	color: #FFFAF4;
	font-size: 14px;
	font-weight: 300;
	text-transform: capitalize;
	border-radius: 40px;
	margin-top: 20px;
}
.page{
		background-color: var(--color-beige);
}
.img-fluid{
	max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 2px 0;
}
.block-title-medium{
	font-weight: 700;
}



.inicio{
	background-color: #FFFAF4;
}

.boton-iniciar{
	background-color:  #5252D4;
	color: #FFFAF4;
	padding: 5% 10% 17%;
    margin-bottom: 20%;
	margin-top: 50%;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	font-size:20px;
	font-weight: 400;
	text-transform: none;

}

.boton-crear{
	background-color: #8B8BE3;
	color: #FFFAF4;
	padding: 5% 10% 17%;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	font-size:20px;
	font-weight: 400;
	text-transform: none;
}
.welcome{
	background-color: var(--f7-theme-color);
	padding: 25px 20px;
	color: #fff;
}
.welcome h1{
	font-size: 24px;
	margin-bottom: 15px;
}

.semana{
	padding: 20px 20px;
}

.mascota{
	padding: 20px 20px;
}

.mascota .button{
	background-color: #BE102A;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: none;
	margin-top: 10px;
	border-radius: 20px;
}

.opciones{
	padding: 20px 20px 85px;
}

.card-content{
	color: #fff;
}
.home-aprender{
	padding:15px 20px;
	color: var(--color-beige);
}
.home-aprender h3{
	font-weight: 300;
}
.home-aprender .button{
	background-color: var(--color-acento);
	color: var(--color-beige);
	font-size: 14px;
	font-weight: 300;
	text-transform: none;
	border-radius: 100px;
	margin-top: 20px;
}

.block-title-medium{
	font-weight: 600;
}


.row-cuentos{
	color:var(--color-beige); 
	padding:15px 20px;

}
.row-cuentos .material-icons{
	color:var(--color-beige); 
}
.card-princess{
	height: 300px;
	position: relative;
}
.row-minutes{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.inicio p{
	margin: auto;
}

.card-intentalo{
	background-color: #242230;
	color: #FFFAF4;
	padding: 8% 0;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	font-size:12px;

}
 .intentalo{
	margin-top: -18px;
	 font-weight: 400;
	margin-left: 15px;
}

.encabezado{
	padding-top: 15%;
	margin-left: -15px;
	color: #242230;
}

.instrucciones {
	color: #242230;
	margin: 5px 15px;
}

.texto-ejercicio{
	
	color: #242230;
	
}

.card-caracter{
	background-color: #5252D4;
	text-align: center;
	color: #FFFAF4;
	padding: 7px 0;
	border-radius: 25px;
}

.card-caracteres{
	background-color: #FFF;
	color: #242230;
	border-color: #242230;
	border-radius: 20px;
	border-width: thick;

}

.boton-continuar{
	background-color: #BE102A;
	Color: #ffff;
	border-radius: 35px;
}

.boton-audio{
	background-color: #BE102A;
	padding-top: 2px;
}
.boton-audio i{
	padding-top: 4px;
}

.imagen{
		background-color: #FFFFFF;
		color: #000000;
		margin-bottom: 30px;
	
}
.imagen p{ 
margin-left: 20px; 
		margin-right: 20px; 
} 
.imagen .button{ 

background-color: #BE102A;
	color: #FFFAF4;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize; 
	border-radius: 40px;
	margin-top: 10px;
} 
#boton2{  
	margin-top: 20px;
	margin-left: 120px;
}

.button-red{
	background-color: #BE102A;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: none;
	margin-top: 10px;
	border-radius: 20px;
	
}

.button-white{
	color: #BE102A;
	font-size: 14px;
	font-weight: 600;
	text-transform: none;
	margin-top: 10px;
	border-radius: 20px;
	border-color: #BE102A;
}

.thumbs-up{
	align: center;
}







